In [4]:
import pandas as pd
import numpy as np
import tmdbsimple as tds
import time
import pdb
import ast
keys = pd.read_csv('keys.txt')
keys['kDb3'][0]
tds.API_KEY = keys['kDb3'][0]

import requests # Not yet used
from IPython.display import Image # Not yet used
from IPython.core.display import HTML # Not yet used

import datetime
#from datetime import date # Used for date.today() to find age of actor who is still alive.

In [38]:
#Settings
# Set ipython's max row display
pd.set_option('display.max_row', 50)

# Set iPython's max column width to 50
pd.set_option('display.max_columns', 50)

In [4]:
# https://docs.python.org/3/library/datetime.html#strftime-strptime-behavior
datetime.date.strftime(datetime.date.today(), '%m_%d_%Y')
retrieval_date = datetime.date.today()- datetime.timedelta(days=1)

print('Parsing Movies')
tmmdf = pd.read_json(f"http://files.tmdb.org/p/exports/movie_ids_{datetime.date.strftime(retrieval_date, '%m_%d_%Y')}.json.gz", lines = True)
print(tmmdf.info())
print('Parsing TV Series')
tmtsdf = pd.read_json(f"http://files.tmdb.org/p/exports/tv_series_ids_{datetime.date.strftime(retrieval_date, '%m_%d_%Y')}.json.gz", lines = True)
# skipping for this analysis
print(tmtsdf.info())
print('Parsing People')
tmpdf = pd.read_json(f"http://files.tmdb.org/p/exports/person_ids_{datetime.date.strftime(retrieval_date, '%m_%d_%Y')}.json.gz", lines = True)
print(tmpdf.info())
print('Parsing Collections')
tmcdf = pd.read_json(f"http://files.tmdb.org/p/exports/collection_ids_{datetime.date.strftime(retrieval_date, '%m_%d_%Y')}.json.gz", lines = True)
print(tmcdf.info())
print('Parsing TV Networks')
tmtndf = pd.read_json(f"http://files.tmdb.org/p/exports/tv_network_ids_{datetime.date.strftime(retrieval_date, '%m_%d_%Y')}.json.gz", lines = True)
print(tmtndf.info())
print('Parsing Keywords')
tmkdf = pd.read_json(f"http://files.tmdb.org/p/exports/keyword_ids_{datetime.date.strftime(retrieval_date, '%m_%d_%Y')}.json.gz", lines = True)
print(tmkdf.info())
print('Parsing Production Companies')
tmpcdf = pd.read_json(f"http://files.tmdb.org/p/exports/production_company_ids_{datetime.date.strftime(retrieval_date, '%m_%d_%Y')}.json.gz", lines = True)
print(tmpcdf.info())

Parsing Movies
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 594176 entries, 0 to 594175
Data columns (total 5 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   adult           594176 non-null  bool
 1   id              594176 non-null  int64
 2   original_title  594176 non-null  object
 3   popularity      594176 non-null  float64
 4   video           594176 non-null  bool
dtypes: bool(2), float64(1), int64(1), object(1)
memory usage: 14.7+ MB
None
Parsing TV Series
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 106797 entries, 0 to 106796
Data columns (total 3 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   id             106797 non-null  int64
 1   original_name  106797 non-null  object
 2   popularity     106797 non-null  float64
dtypes: float64(1), int64(1), object(1)
memory usage: 2.4+ MB
None
Parsing People
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1964332 entries, 0 to 1964331
Data columns (total 4 columns):
 #   Column      Dtype
---  ------      -----
 0   adult       bool
 1   id          int64
 2   name        object
 3   popularity  float64
dtypes: bool(1), float64(1), int64(1), object(1)
memory usage: 46.8+ MB
None
Parsing Collections
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4189 entries, 0 to 4188
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      4189 non-null   int64
 1   name    4189 non-null   object
dtypes: int64(1), object(1)
memory usage: 65.6+ KB
None
Parsing TV Networks
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2751 entries, 0 to 2750
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      2751 non-null   int64
 1   name    2751 non-null   object
dtypes: int64(1), object(1)
memory usage: 43.1+ KB
None
Parsing Keywords
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41215 entries, 0 to 41214
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      41215 non-null  int64
 1   name    41215 non-null  object
dtypes: int64(1), object(1)
memory usage: 644.1+ KB
None
Parsing Production Companies
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 117782 entries, 0 to 117781
Data columns (total 2 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   id      117782 non-null  int64
 1   name    117782 non-null  object
dtypes: int64(1), object(1)
memory usage: 1.8+ MB
None

In [2]:
def makeframe_fromtxt(inp, ind=None):
    df = pd.DataFrame(list(ast.literal_eval(open(inp, 'r').read())))
    if ind:
        df.sort_values(ind, inplace = True)
        df.set_index(ind, inplace = True)
    return df

In [33]:
debugdf = makeframe_fromtxt('debug.txt')

In [34]:
debugdf.rename(columns={'imdb_id':'tconst'}, inplace=True)

In [21]:
debugdf

,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,tconst,original_language,original_title,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,/hQ4pYsIbP22TMXOUdSfC2mjWrO0.jpg,None,0,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",,2,tt0094675,fi,Ariel,...,1988-10-21,0,73,"[{'english_name': 'German', 'iso_639_1': 'de',...",Released,,Ariel,False,6.8,129
1,False,/l94l89eMmFKh7na2a1u5q67VgNx.jpg,None,0,"[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...",,3,tt0092149,fi,Varjoja paratiisissa,...,1986-10-17,0,74,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,,Shadows in Paradise,False,7.2,127
2,False,/u0zMKKpEdDWpOKmFW2sLbKKICJH.jpg,None,4000000,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...",,5,tt0113101,en,Four Rooms,...,1995-12-09,4257354,98,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Twelve outrageous guests. Four scandalous requ...,Four Rooms,False,5.7,1916
3,False,/5aXp2s4l6g5PcMMesIj63mx8hmJ.jpg,None,21000000,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",,6,tt0107286,en,Judgment Night,...,1993-10-15,12136938,110,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Don't move. Don't whisper. Don't even breathe.,Judgment Night,False,6.5,184
4,False,None,None,42000,"[{'id': 99, 'name': 'Documentary'}]",http://www.lifeinloops.com,8,tt0825671,en,Life in Loops (A Megacities RMX),...,2006-01-01,0,80,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,A Megacities remix.,Life in Loops (A Megacities RMX),False,7.4,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,False,/lCPOmWoqtmVrI2yUNUw8iaOaTJn.jpg,None,45000000,"[{'id': 80, 'name': 'Crime'}, {'id': 53, 'name...",,1537,tt0264472,en,Changing Lanes,...,2002-04-07,94935764,99,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,"An ambitious lawyer, a desperate father, they ...",Changing Lanes,False,6.1,696
996,False,/nrDDTgU0tAHVlwCQ02cUWlPGtiQ.jpg,None,65000000,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",,1538,tt0369339,en,Collateral,...,2004-08-04,217764291,120,"[{'english_name': 'Spanish', 'iso_639_1': 'es'...",Released,It started like any other night.,Collateral,False,7.2,3726
997,False,None,None,0,"[{'id': 10402, 'name': 'Music'}, {'id': 18, 'n...",,1539,tt0448009,de,Keine Lieder über Liebe,...,2005-10-26,0,98,"[{'english_name': 'German', 'iso_639_1': 'de',...",Released,,Keine Lieder über Liebe,False,5.6,7
998,False,/i7Z2hHvm0bKEFB4EvXpk6kFYDyV.jpg,None,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",,1540,tt0381690,fr,Vers le sud,...,2006-01-25,0,108,"[{'english_name': 'French', 'iso_639_1': 'fr',...",Released,,Heading South,False,5.8,23
999,False,/tMa1YlJYIZrn1Sk6DICmL7pte8d.jpg,None,16000000,"[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...",,1541,tt0103074,en,Thelma & Louise,...,1991-05-24,45361000,130,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Somebody said get a life… so they did.,Thelma & Louise,False,7.5,2217

In [32]:
imdbmfdf = pd.read_csv('imdb_mov_filtered.zip')

In [36]:
debugdf

,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,tconst,original_language,original_title,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,/hQ4pYsIbP22TMXOUdSfC2mjWrO0.jpg,None,0,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",,2,tt0094675,fi,Ariel,...,1988-10-21,0,73,"[{'english_name': 'German', 'iso_639_1': 'de',...",Released,,Ariel,False,6.8,129
1,False,/l94l89eMmFKh7na2a1u5q67VgNx.jpg,None,0,"[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...",,3,tt0092149,fi,Varjoja paratiisissa,...,1986-10-17,0,74,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,,Shadows in Paradise,False,7.2,127
2,False,/u0zMKKpEdDWpOKmFW2sLbKKICJH.jpg,None,4000000,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...",,5,tt0113101,en,Four Rooms,...,1995-12-09,4257354,98,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Twelve outrageous guests. Four scandalous requ...,Four Rooms,False,5.7,1916
3,False,/5aXp2s4l6g5PcMMesIj63mx8hmJ.jpg,None,21000000,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",,6,tt0107286,en,Judgment Night,...,1993-10-15,12136938,110,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Don't move. Don't whisper. Don't even breathe.,Judgment Night,False,6.5,184
4,False,None,None,42000,"[{'id': 99, 'name': 'Documentary'}]",http://www.lifeinloops.com,8,tt0825671,en,Life in Loops (A Megacities RMX),...,2006-01-01,0,80,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,A Megacities remix.,Life in Loops (A Megacities RMX),False,7.4,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,False,/lCPOmWoqtmVrI2yUNUw8iaOaTJn.jpg,None,45000000,"[{'id': 80, 'name': 'Crime'}, {'id': 53, 'name...",,1537,tt0264472,en,Changing Lanes,...,2002-04-07,94935764,99,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,"An ambitious lawyer, a desperate father, they ...",Changing Lanes,False,6.1,696
996,False,/nrDDTgU0tAHVlwCQ02cUWlPGtiQ.jpg,None,65000000,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",,1538,tt0369339,en,Collateral,...,2004-08-04,217764291,120,"[{'english_name': 'Spanish', 'iso_639_1': 'es'...",Released,It started like any other night.,Collateral,False,7.2,3726
997,False,None,None,0,"[{'id': 10402, 'name': 'Music'}, {'id': 18, 'n...",,1539,tt0448009,de,Keine Lieder über Liebe,...,2005-10-26,0,98,"[{'english_name': 'German', 'iso_639_1': 'de',...",Released,,Keine Lieder über Liebe,False,5.6,7
998,False,/i7Z2hHvm0bKEFB4EvXpk6kFYDyV.jpg,None,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",,1540,tt0381690,fr,Vers le sud,...,2006-01-25,0,108,"[{'english_name': 'French', 'iso_639_1': 'fr',...",Released,,Heading South,False,5.8,23
999,False,/tMa1YlJYIZrn1Sk6DICmL7pte8d.jpg,None,16000000,"[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...",,1541,tt0103074,en,Thelma & Louise,...,1991-05-24,45361000,130,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Somebody said get a life… so they did.,Thelma & Louise,False,7.5,2217

In [35]:
m = debugdf['tconst'].isin(imdbmfdf['tconst'])
debugdf[m]

,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,tconst,original_language,original_title,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,/hQ4pYsIbP22TMXOUdSfC2mjWrO0.jpg,None,0,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",,2,tt0094675,fi,Ariel,...,1988-10-21,0,73,"[{'english_name': 'German', 'iso_639_1': 'de',...",Released,,Ariel,False,6.8,129
1,False,/l94l89eMmFKh7na2a1u5q67VgNx.jpg,None,0,"[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...",,3,tt0092149,fi,Varjoja paratiisissa,...,1986-10-17,0,74,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,,Shadows in Paradise,False,7.2,127
2,False,/u0zMKKpEdDWpOKmFW2sLbKKICJH.jpg,None,4000000,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...",,5,tt0113101,en,Four Rooms,...,1995-12-09,4257354,98,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Twelve outrageous guests. Four scandalous requ...,Four Rooms,False,5.7,1916
3,False,/5aXp2s4l6g5PcMMesIj63mx8hmJ.jpg,None,21000000,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",,6,tt0107286,en,Judgment Night,...,1993-10-15,12136938,110,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Don't move. Don't whisper. Don't even breathe.,Judgment Night,False,6.5,184
6,False,/zqkmTXzjkAgXmEWLRsY4UpTWCeo.jpg,"{'id': 10, 'name': 'Star Wars Collection', 'po...",11000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",http://www.starwars.com/films/star-wars-episod...,11,tt0076759,en,Star Wars,...,1977-05-25,775398007,121,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,"A long time ago in a galaxy far, far away...",Star Wars,False,8.2,15349
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
994,False,/nHnWAi55tEo822jVGwp50b3CH4D.jpg,None,115000000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",,1535,tt0266987,en,Spy Game,...,2001-11-18,143049560,126,"[{'english_name': 'Cantonese', 'iso_639_1': 'c...",Released,It's not how you play the game. It's how the g...,Spy Game,False,6.9,1417
995,False,/lCPOmWoqtmVrI2yUNUw8iaOaTJn.jpg,None,45000000,"[{'id': 80, 'name': 'Crime'}, {'id': 53, 'name...",,1537,tt0264472,en,Changing Lanes,...,2002-04-07,94935764,99,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,"An ambitious lawyer, a desperate father, they ...",Changing Lanes,False,6.1,696
996,False,/nrDDTgU0tAHVlwCQ02cUWlPGtiQ.jpg,None,65000000,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",,1538,tt0369339,en,Collateral,...,2004-08-04,217764291,120,"[{'english_name': 'Spanish', 'iso_639_1': 'es'...",Released,It started like any other night.,Collateral,False,7.2,3726
998,False,/i7Z2hHvm0bKEFB4EvXpk6kFYDyV.jpg,None,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",,1540,tt0381690,fr,Vers le sud,...,2006-01-25,0,108,"[{'english_name': 'French', 'iso_639_1': 'fr',...",Released,,Heading South,False,5.8,23
999,False,/tMa1YlJYIZrn1Sk6DICmL7pte8d.jpg,None,16000000,"[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...",,1541,tt0103074,en,Thelma & Louise,...,1991-05-24,45361000,130,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Somebody said get a life… so they did.,Thelma & Louise,False,7.5,2217

In [44]:
debugdf = debugdf.merge(imdbmfdf, on='tconst', how='inner')

# Data Decisions
Although genres_x is superior, genre_y is easier and faster to work with. title_x is odd in either direction, but some of the better known movies have a better label in x. types is unclear burt heavily dominated by one tag, although there are several. attributes is odd and doesn't seem important for analysis but seems vital for debugging and refining database merging criteria. directors and writers, along with actors (to be generated manually) can have value in prediction but do not offer much value.

In [83]:
drpcol = ['isAdult', 'startYear', 'endYear', 'runtimeMinutes', 'genres_x', 'title_x', 'vote_average', 'vote_count', 'video', 'Unnamed: 0', 'titleType']

In [84]:
debugdf = debugdf.drop(drpcol, axis=1)

In [85]:
debugdf

,adult,backdrop_path,belongs_to_collection,budget,homepage,id,tconst,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,primaryTitle,originalTitle,genres_y,ordering,title_y,region,language,types,attributes,isOriginalTitle,directors,writers,averageRating,numVotes
0,False,/hQ4pYsIbP22TMXOUdSfC2mjWrO0.jpg,None,0,,2,tt0094675,fi,Ariel,Taisto Kasurinen is a Finnish coal miner whose...,8.974,/ojDg0PGvs6R9xYFodRct2kdI6wC.jpg,"[{'id': 2303, 'logo_path': None, 'name': 'Vill...","[{'iso_3166_1': 'FI', 'name': 'Finland'}]",1988-10-21,0,73,"[{'english_name': 'German', 'iso_639_1': 'de',...",Released,,Ariel,Ariel,"Comedy,Crime,Romance",1,Ariel,US,NaN,imdbDisplay,NaN,0,nm0442454,nm0442454,7.5,6265
1,False,/l94l89eMmFKh7na2a1u5q67VgNx.jpg,None,0,,3,tt0092149,fi,Varjoja paratiisissa,"An episode in the life of Nikander, a garbage ...",7.779,/nj01hspawPof0mJmlgfjuLyJuRN.jpg,"[{'id': 2303, 'logo_path': None, 'name': 'Vill...","[{'iso_3166_1': 'FI', 'name': 'Finland'}]",1986-10-17,0,74,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,,Shadows in Paradise,Varjoja paratiisissa,"Comedy,Drama,Romance",2,Shadows in Paradise,US,NaN,imdbDisplay,NaN,0,nm0442454,nm0442454,7.5,4902
2,False,/u0zMKKpEdDWpOKmFW2sLbKKICJH.jpg,None,4000000,,5,tt0113101,en,Four Rooms,It's Ted the Bellhop's first night on the job....,13.645,/75aHn1NOYXh4M7L5shoeQ6NGykP.jpg,"[{'id': 14, 'logo_path': '/m6AHu84oZQxvq7n1rsv...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-09,4257354,98,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Twelve outrageous guests. Four scandalous requ...,Four Rooms,Four Rooms,Comedy,34,Four Rooms,US,NaN,NaN,NaN,0,"nm0001675,nm0005062,nm0025978,nm0000233,nm0734319","nm0025978,nm0734319,nm0001675,nm0000233",6.8,98955
3,False,/5aXp2s4l6g5PcMMesIj63mx8hmJ.jpg,None,21000000,,6,tt0107286,en,Judgment Night,"While racing to a boxing match, Frank, Mike, J...",9.942,/rYFAvSPlQUCebayLcxyK79yvtvV.jpg,"[{'id': 33, 'logo_path': '/8lvHyhjr8oUKOOy2dKX...","[{'iso_3166_1': 'JP', 'name': 'Japan'}, {'iso_...",1993-10-15,12136938,110,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Don't move. Don't whisper. Don't even breathe.,Judgment Night,Judgment Night,"Action,Crime,Drama",2,Judgment Night,US,NaN,imdbDisplay,NaN,0,nm0394280,"nm0171474,nm0192342",6.7,15567
4,False,/zqkmTXzjkAgXmEWLRsY4UpTWCeo.jpg,"{'id': 10, 'name': 'Star Wars Collection', 'po...",11000000,http://www.starwars.com/films/star-wars-episod...,11,tt0076759,en,Star Wars,Princess Leia is captured and held hostage by ...,68.974,/6FfCtAuVAW8XJjZ7eWeLibRLWTw.jpg,"[{'id': 1, 'logo_path': '/o86DbpburjxrqAzEDhXZ...","[{'iso_3166_1': 'US', 'name': 'United States o...",1977-05-25,775398007,121,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,"A long time ago in a galaxy far, far away...",Star Wars: Episode IV - A New Hope,Star Wars,"Action,Adventure,Fantasy",101,Star Wars: Episode IV - A New Hope,US,NaN,imdbDisplay,NaN,0,nm0000184,nm0000184,8.6,1242564
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
896,False,/nHnWAi55tEo822jVGwp50b3CH4D.jpg,None,115000000,,1535,tt0266987,en,Spy Game,"On the day of his retirement, a veteran CIA ag...",17.171,/h5ivpawwFFQnMEgRt73YtzqAZwU.jpg,"[{'id': 33, 'logo_path': '/8lvHyhjr8oUKOOy2dKX...","[{'iso_3166_1': 'GB', 'name': 'United Kingdom'...",2001-11-18,143049560,126,"[{'english_name': 'Cantonese', 'iso_639_1': 'c...",Released,It's not how you play the game. It's how the g...,Spy Game,Spy Game,"Action,Crime,Thriller",17,Spy Game,US,NaN,NaN,NaN,0,nm0001716,"nm0065847,nm0033153",7.1,146841
897,False,/lCPOmWoqtmVrI2yUNUw8iaOaTJn.jpg,None,45000000,,1537,tt0264472,en,Changing Lanes,A rush-hour fender-bender on New York City's c...,11.903,/8wh9WzTKo5pJw3EgHYWA60W7Kbl.jpg,"[{'id': 4, 'logo_path': '/fycMZt242LVjagMByZOL...","[{'iso_3166_1': 'US', 'name': 'United States o...",2002-04-07,94935764,99,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,"An ambitious lawyer, a desperate father, they ...",Changing Lanes,Changing Lanes,"Drama,Thriller",14,Changing Lanes,US,NaN,imdbDisplay,NaN,0,nm0585011,"nm0852105,nm0866062",6.5,67357
898,False,/nrDDTgU0tAHVlwCQ02cUWlPGtiQ.jpg,None,65000000,,1538,tt0369339,en,Collateral,Cab driver Max picks up a man who offers him $...,21.326,/iOpi3ut5DhQIbrVVjlnmfy2U7dI.jpg,"[{'id': 4, 'logo_path': '/fycMZt242LVjagMByZOL...","[{'iso_3166_1': 'US', 'name': 'United States o...",2004-08-04,217764291,120,"[{'english_name': 'Spanish', 'iso_639_1': 'es'...",Released,It started like any other night.,Collateral,Collateral,"Crime,Drama,Thriller",27,Untitled Michael Mann Project,US,NaN,working,NaN,0,nm0000520,nm0064181,7.5,363689
899,False,/i7Z2hHvm0bKEFB4EvXpk6kFYDyV.jpg,None,0,,1540,tt0381690,fr,Vers le sud,A story of three female tourists who visit Hai...,2.549,/46VpNNJNAubG1iB4CXtQYSaNMA0.jpg,"[{'id': 726, 'logo_path': '/hHaQQgxqg2NohqZSxb...","[{'iso_3166_1': 'BE', 'name': 'Belgium'}, {'is...",2006-01-25,0,108,"[{'english_name': 'French', 'iso_639_1': 'fr',...",Released,,Heading South,Vers le sud,Drama,4,Heading South,US,NaN,NaN,NaN,0,nm0134559,"nm0134559,nm0133028,nm0480767,nm0925790",6.3,2681
900,False,/tMa1YlJYIZrn1Sk6DICmL7pte8d.jpg,None,16000000,,1541,tt0103074,en,Thelma & Louise,"Whilst on a short weekend getaway, Louise shoo...",13.348,/xN0HD9hX5OohZcq0YPwy5HXlwsq.jpg,"[{'id': 21854, 'logo_path': None, 'name': 'Sta...","[{'iso_3166_1': 'US', 'name': 'United States o...",1991-05-24,45361000,130,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Somebody said get a life… so they did.,Thelma & Louise,Thelma & Louise,"Adventure,Crime,Drama",16,Thelma & Louise,US,NaN,NaN,NaN,0,nm0000631,nm0451884,7.5,138312

In [31]:
debugdf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 901 entries, 0 to 900
Data columns (total 44 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  901 non-null    bool
 1   backdrop_path          889 non-null    object
 2   belongs_to_collection  264 non-null    object
 3   budget                 901 non-null    int64
 4   genres_x               901 non-null    object
 5   homepage               901 non-null    object
 6   id                     901 non-null    int64
 7   tconst                 901 non-null    object
 8   original_language      901 non-null    object
 9   original_title         901 non-null    object
 10  overview               901 non-null    object
 11  popularity             901 non-null    float64
 12  poster_path            900 non-null    object
 13  production_companies   901 non-null    object
 14  production_countries   901 non-null    object
 15  release_date           901 non-null    object
 16  revenue                901 non-null    int64
 17  runtime                901 non-null    int64
 18  spoken_languages       901 non-null    object
 19  status                 901 non-null    object
 20  tagline                901 non-null    object
 21  title_x                901 non-null    object
 22  video                  901 non-null    bool
 23  vote_average           901 non-null    float64
 24  vote_count             901 non-null    int64
 25  Unnamed: 0             901 non-null    int64
 26  titleType              901 non-null    object
 27  primaryTitle           901 non-null    object
 28  originalTitle          901 non-null    object
 29  isAdult                901 non-null    int64
 30  startYear              901 non-null    float64
 31  runtimeMinutes         901 non-null    float64
 32  genres_y               901 non-null    object
 33  ordering               901 non-null    int64
 34  title_y                901 non-null    object
 35  region                 901 non-null    object
 36  language               15 non-null     object
 37  types                  631 non-null    object
 38  attributes             110 non-null    object
 39  isOriginalTitle        901 non-null    int64
 40  directors              901 non-null    object
 41  writers                900 non-null    object
 42  averageRating          901 non-null    float64
 43  numVotes               901 non-null    int64
dtypes: bool(2), float64(5), int64(10), object(27)
memory usage: 336.7+ KB

In [81]:
debugdf['writers'].value_counts()

nm0000230                                  6
nm0000464                                  4
nm0000264                                  4
nm0000186                                  3
nm0254645,nm0744429,nm0064181,nm0938684    3
                                          ..
nm0045301,nm0677943,nm0211823              1
nm0208571,nm0720938,nm0000076              1
nm0829330,nm0058129,nm0759029              1
nm0003160                                  1
nm0000118,nm0639321                        1
Name: writers, Length: 833, dtype: int64

In [73]:
debugdf['title_x'][4]

'Star Wars'

In [74]:
debugdf['title_y'][4]

'Star Wars: Episode IV - A New Hope'

In [61]:
debugdf['genres_x'][0]

[{'id': 18, 'name': 'Drama'},
 {'id': 80, 'name': 'Crime'},
 {'id': 35, 'name': 'Comedy'}]

In [62]:
debugdf['genres_y'][0]

'Comedy,Crime,Romance'